# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
logs/

# Screenshots
screenshots/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Mac
.DS_Store